---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import BaseHead from "../../components/BaseHead.astro";
import Footer from "../../components/Footer.astro";
import FormattedDate from "../../components/FormattedDate.astro";
import Header from "../../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <section class="flex flex-col justify-center items-center w-full">
        <ul class="flex flex-col items-center gap-4 w-full lg:w-3xl">
          {
            posts.map((post) => (
              <li class="flex w-full p-4">
                <a class="flex w-full gap-4" href={`/blog/${post.id}/`}>
                  {post.data.heroImage && (
                    <Image
                      width={360}
                      src={post.data.heroImage}
                      loading={"eager"}
                      alt=""
                      class="rounded-2xl"
                    />
                  )}
                  <div class="grow ">
                    <h4 class="text-2xl font-semibold">{post.data.title}</h4>
                    <p class="date">
                      <FormattedDate date={post.data.pubDate} />
                    </p>
                  </div>
                </a>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
